<div class="grix-x grid-margin-x grid-margin-y">
  <div class="cell">
    <h1>Sort By:</h1>
  </div>
  <div class="cell"><button mat-raised-button (click)="sortBy('price')">Price</button></div>
  <div class="cell"><button mat-raised-button (click)="sortBy('size')">Size</button></div>
  <div class="cell"><button mat-raised-button (click)="sortBy('id')">ID</button></div>
  <div class="cell"><button mat-raised-button (click)="getAdvert()">Get Advert</button></div>
</div>

<div #infiniteScrollContainer class="grid-x grid-margin-x grid-margin-y">
  <ng-container *ngFor="let product of products; let i = index">
    <div class="cell large-4 medium-6">
      <mat-card>
        <mat-card-content [style.fontSize.px]="product.size">{{ product.face }}</mat-card-content>
        <mat-card-title>{{ product.price / 100 | currency : USD : true }}</mat-card-title>
        <mat-card-subtitle>ID: {{ product.id }}</mat-card-subtitle>
        <mat-card-subtitle>{{ product.date | date }}</mat-card-subtitle>
        <mat-card-subtitle>{{ product.size }}px</mat-card-subtitle>
      </mat-card>

    </div>
    <div class="cell large-4 medium-6" *ngIf="(i + 1) % 20 == 0">
      <mat-card >
        <mat-card-content>
          <img [src]="advertUrls[(i + 1) / 20 - 1]"alt="">
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>

  <div class="cell text-center" *ngIf="(initialLoad || loading) && !noMoreProducts">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
  <div>
    <div class="cell" *ngIf="noMoreProducts">~ end of catalogue ~</div>
  </div>
</div>
